<div class="login">
  <div class="login_form">
    <img src="assets/images/logo.png" alt="" />
    <form class="" action="validate" method="post">
      <input type="email" placeholder="email" name="email" value="">
      <input type="password" placeholder="password" name="password" value="">
      <input type="button" name="login" value="Log In">
      <a href="users/new">Register</a>
    </form>
  </div>
</div>
