@import "nivo";
html, body {
  margin: 0;
}
body {
  background: #f1f1f1;
}
a:hover {
  background: inherit;
  color: inherit;
}
.cont {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
header {
  width: 100%;
}
.bar {
  float: left;
  width: 100%;
  padding: 10px 0;
}
.log {
  width: 100%;
  background: #191919;
  height: 30px;
  float: left;
  // border-top: 4px solid #F05752;
}
.log a {
  text-decoration: none;
  padding: 5px;
  float: right;
  color: #fff;
}
#logo {
  float: left;
}
header nav {
  width: 100%;
  max-width: 325px;
  float: right;
}
header nav ul {
  width: auto;
  float: right;
  padding: 0px;
}
header nav ul li {
  margin: 0 0 0 5px;
  list-style: none;
  display: inline-block;
}
header nav ul li a {
  padding: 15px;
  text-decoration: none;
}
.card {
  width: 33%;
  height: 150px;
  background: #fff;
}
.card_info {

}
